<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Generator NodeJS</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap" rel="stylesheet">
</head>

<body>
  <style>
    body {
      font-family: 'Roboto Mono', monospace;
      font-weight: 400;
      font-size: 16px;
    }

    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 150px;
    }

    .container h1 {
      font-size: 3.3rem;
    }

    a {
      opacity: 1;
    }

    .btn {
      display: flex;
      align-items: center;
      padding: 1.3rem;
      background-color: rgb(17, 17, 17);
      color: #fff;
      text-decoration: none;
      border-radius: 0.6rem;
      font-size: 17px;
      font-weight: 700;
      transition: all 0.3s ease 0s;
    }

    .btn:hover {
      background-color: rgb(65 152 54);
      font-weight: bold;
      opacity: 0.75;
    }

    .logo-img {
      width: 800px;
      height: auto;
      margin-bottom: 1.7rem;
    }
  </style>
  <div class="container">
    <h1 style="text-align: center;">
      API RESTFULY
    </h1>
    <a href="/api" class="btn">NAVEGAR ATÉ API</a>
  </div>
</body>

</html>
